---
layout: default
---

<header id="header">
    <div class="header-content clear">
        <div class="header-title">
            <span class="header-avater"></span>
            <a href="#" class="header-name">{{site.github_username}}</a>
        </div>
        <ul class="header-nav clear">
            <li class="header-nav-item active">
                <a href="/">最新</a></li>
            <li class="header-nav-item">
                <a href="/archive/index.html">归档</a></li>
            <li class="header-nav-item">
                <a href="#">收藏</a></li>
            <li class="header-nav-item">
                <a href="/examples/index.html">示例</a>
            </li>
        </ul>
    </div>
</header>
<div class="main-wrapper clear">
    <div class="content-wrapper">
        <div class="content">
            <div class="article-items">
                {% assign pages = site.posts%}
                {% for item in pages %}
                    <div class="article-item">
                        <div class="article-item-title ellipsis">
                            <a href="{{item.url}}">{{item.title}}</a>
                        </div>
                        <div class="article-item-tags">
                            {% for tag in item.tags%}
                                <span>{{tag}}</span>
                            {% endfor%}
                        </div>
                        <div class="article-item-excerpt">
                            {{item.excerpt}}
                        </div>
                        <div class="article-item-date">发表于: {{item.date | date: '%Y-%m-%d' }}</div>
                    </div>
                {% endfor%}
            </div>
        </div>
    </div>
    <div class="nav-wrapper">
        <div class="simple-box">
            <div class="simple-box-title">
                标签分类({{pages | size}})
            </div>
            <div class="simple-box-content">
                {% for category in site.categories %}
                <a href="#">
                    ● {{ category | first }} ({{ category | last | size }})
                </a>
                {% endfor%}
            </div>
        </div>
    </div>
</div>
